<% include header2.ejs %>
<body>
<div class="container" style="background-color: green; min-height: 100%;">
<div class="row">
	<div class="col-sm-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3 align-self-center">
		<div class="card bg-primary" style="margin-top: 25px;">
		  <div class="card-body">
		    <h2 class="card-title">Statistics for <% results.forEach(function(r) { %>
        <%= r.fname %> <%= r.lname %>
    	<% }); %></h2>
		    <p class="card-text">

		<table>
		<tr>
			<th><h3> Goals: </h3> </th>
			<td>  <h3> 
				<% results.forEach(function(r) { %>
		        <%= r.goals %>
		    	<% }); %> </h3>
			</td>
		</tr>
		<tr>
			<th><h3> Assists: </h3> </th>
			<td> <h3> <% results.forEach(function(r) { %>
		        <%= r.assists %>
		    	<% }); %> </h3>		
	    	</td>
		</tr>
		<tr>
			<th><h3> Saves: </h3> </th>
			<td> <h3>
				<% results.forEach(function(r) { %>
		        <%= r.saves %>
		    	<% }); %> </h3>
			</td>
		</tr>
		<tr>
			<th><h4> Birth Date: </h4></th>
			<td> <h4>
				<% results.forEach(function(r) { %>
		        <%= r.dob %>
		    	<% }); %> </h4>
			</td>
		</tr>
		<tr>
			<th><h4> Position </h4> </th>
			<td> <h4>
				<% results.forEach(function(r) { %>
		        <%= r.position %>
		    	<% }); %> </h4>
			</td>
		</tr>

		<tr>
			<td> 
		 		<a href="/" class="text-light"><h4> Home </h4></a>
			<td>
		</tr>
</p>
</div>
</div>
</div>
</div>
</div>
</body>
</html>


